@import "tailwindcss";



html {
  background-color: #ffffff;
  color: #000000;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #000000;
  min-height: 100%;
}

body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  margin: 0;
}

.font-ubuntu {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.font-pixelify {
  font-family: var(--font-pixelify), cursive;
}
