@import "tailwindcss";

html {
  background-color: #000000;
  color: #ffffff;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  min-height: 100%;
}

body {
  font-family: var(--font-ubuntu), monospace;
  margin: 0;
}

.font-ubuntu {
  font-family: var(--font-ubuntu), monospace;
}

.font-pixelify {
  font-family: var(--font-pixelify), cursive;
}
